// for flex containers only
=center($value, $value2)
	justify-content: $value
	align-items: $value2

=desktop
	@media screen and (min-width: $desktop)
		@content

=tablet
	@media screen and (min-width: $tablet) and (max-width: $desktop - 1px)
		@content

=mobile
	@media screen and (max-width: $tablet - 1px)
		@content

=retina
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
		@content

=border($pixel, $type, $color, $rad)
	border-width: $pixel
	border-style: $type
	border-color: $color
	border-radius: $rad

=grid($cols, $mgn)
	float:left
	margin-right: $mgn
	margin-bottom: $mgn
	width: (100 - ($cols - 1) * $mgn) / $cols

	&:nth-child(#{$cols}n)
		margin-right: 0